.main
  .container
    nav
      a.logo logo
      a.work work
      a.about about
    .image
    .headline
      p Priyanka Malviya
    .summary
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
