html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
   grid-template-rows: 150px auto 100px;
  /*grid-template-columns define columns. It means that both columns will grow to fill the screen, but the content column will always be 3 times as wide as the nav column (provided the nav column stays wider than 200px) fr means free unit or fraction unit.

*/
  grid-template-columns: minmax(200px, 3fr) 9fr;
}
header{
  grid-column: 1 / 3;
}
nav{
  grid-row: 2 / span 2;
}
header,footer{
  background-color:gray;
  
}
nav{
  background-color:pink;
}
main{
  background-color:#DDDDDD;
}
